.battle-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(226, 212, 194);
    border-radius: 10px;
    padding: 5px;
    border: rgba(0, 3, 153, 0.808) 3px outset;
}